{% load static %}

<!DOCTYPE html>
<html lang="kr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179421566-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179421566-1');
    </script>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>동국대 전자 액자 경진 대회</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/festival.png' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/cc0d007bbf.js" crossorigin="anonymous"></script>

    <!-- Like -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <!-- Font-->
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    
    <script language="javascript">
        function getCookie( cookieName ) {
            var search = cookieName + "=";
            var cookie = document.cookie;
            if( cookie.length > 0 ) {
                startIndex = cookie.indexOf( cookieName );
                if( startIndex != -1 ) {
                    startIndex += cookieName.length;
                    endIndex = cookie.indexOf( ";", startIndex );
                    if( endIndex == -1)
                        endIndex = cookie.length;
                    return unescape( cookie.substring( startIndex + 1, endIndex ) );
                }
                else {
                    return false;
                }
            }
            else {
                return false;
            }
        }
        if( !getCookie("close20090524") ){
            window.open("{% url 'popup' %}","타이틀","left=80,top=80,width=510,height=590,resizable=no, scrollbar=no, status=no,menubar=no,toolbar=no,location=no");
        }
    </script>

</head>

<body oncontextmenu='return false'>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="alimeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo3.png' %}" alt="logo"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            {% include 'shared/navbar.html' %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    {% block content %}

    {% endblock %}

    {% include 'shared/footer.html' %}

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/alime.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

    <script src="{% static 'js/triggerclick.js' %}"></script>

    <script src="{% static 'js/filecheck.js' %}"></script>    

    <script src="{% static 'js/filename.js' %}"></script>
    
    <script src="{% static 'js/chk_title.js' %}"></script>
    


</body>

</html>
