{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(static/img/main-slide-img/main1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-20 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="100ms">멋쟁이사자처럼과<br> HI-SW 봉사단이 함께하는<br>웹 기반 전자 액자 경진 대회</h2>
                                <p data-animation="bounceInDown" data-delay="500ms">후원: 동국대학교 융합교육원, 동국대학교 제50대 총학생회 하이라이트</p>
                                <div class="hero-btn-group" data-animation="bounceInDown" data-delay="900ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(static/img/main-slide-img/main2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="100ms">제출기간<br>2020.10.09~2020.11.01</h2>
                                <p data-animation="bounceInUp" data-delay="500ms">기간 내에 사진을 제출해주세요</p>
                                <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(static/img/main-slide-img/main3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInUp" data-delay="100ms">전자 액자 경진대회<br>수상자 발표<br>2020.11.02</h2>
                                <p data-animation="bounceInUp" data-delay="500ms">좋아요 순으로 순위가 결정됩니다.</p>
                                <div class="hero-btn-group" data-animation="bounceInUp" data-delay="900ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->

    <!-- Gallery Area Start -->
    <div class="alime-portfolio-area section-padding-80 clearfix">
        <div class="container-fluid">
            <div class="row alime-portfolio">
                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub1.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub1.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub2.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub2.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub3.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub3.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub4.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub4.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub6.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub6.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub7.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub7.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub8.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub8.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-6 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub9.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub9.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub12.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub12.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>
                
                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub10.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub10.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub11.jpeg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub11.jpeg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

                <!-- Single Gallery Item -->
                <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-portfolio-content">
                        <img src="{% static 'img/main-sub-img/sub5.jpg' %}" alt="">
                        <div class="hover-content">
                            <a href="{% static 'img/main-sub-img/sub5.jpg' %}" class="portfolio-img">+</a>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
{% endblock %}