{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">My page</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- password change Area Start -->
<div class="contact-area section-padding-80-50">
    <div class="container">
        <div class="row">
                <div class="col-12 text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="100ms" contact-title mb-30>비밀번호 변경</h2>
                    <br><br>

                    <form method="POST" action="{% url 'users:password_change' %}" class="login_form">
                        {% csrf_token %}
                        <div class="error_message">{{error}}</div>
                        
                        <div class="col-12 text-center">
                            <div class="login_input_container">
                                <div class="username_form_text"><p style="font-weight:bolder">기존 비밀번호: </p></div>
                                <div class="input_container">
                                    <input class="login_input" name="origin_password" type="password">
                                </div>
                                <br>
        
                                <div class="password_form_text"><p style="font-weight:bolder">새 비밀번호: </p></div>
                                <div class="input_container">
                                    <input class="login_input" name="password1" type="password">
                                </div>
                                <br>

                                <div class="confirm_password_form_text"><p style="font-weight:bolder">새 비밀번호 확인: </p></div>
                                <div class="input_container">
                                    <input class="login_input" name="password2" type="password">
                                </div>
                                <br>
                            </div>
                        </div>
                        
                         <!-- Contact Info -->
                        <div class="col-12">
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="800ms">
                                <a><input type="submit" class="btn alime-btn btn-2 mt-15" value="비밀번호 변경"></a>
                            </div>
                        </div>
                    </form>
                </div>

                
        </div>
    </div>
</div>
<!-- password change Area End -->

{% endblock %}
