{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">My page</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Content Area Start-->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="contact-area section-padding-50-50">
            <div class="container">
                {% if user.is_authenticated %}
                    <div class="col-12 text-center mb-5"><h1 style="font-family:'yg-jalnan';">내가 쓴 글</h1></div>
                    <div class="row alime-portfolio">
                        {% for post in posts %}
                            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item mb-30 wow fadeInUp" data-wow-delay="100ms" style="display: flex; flex-direction: column-reverse;">
                                <div class="card" style="border:none">
                                    <div class="single-portfolio-content">
                                        {% if "video" in post.mediatype %}
                                            <div id="video-{{ post.id }}" style="display: block !important;">
                                                <video class="col-12" controls preload="metadata" style="padding:0;">
                                                    <source src="{{ post.mediafile.url }}" alt="video">
                                                </video>
                                            </div>
                                            <div class="hover-content">
                                                <a href="{% url 'posts:show' post.id %}" class="whyrano-video" style="left:30%;">+</a>
                                                <a href="{% url 'posts:post_like' post.id %}" class="like_toggle" data-post-id={{ post.id }} style="color:white; left:70%; font-size: 25px;">
                                                    {% if user in post.like_user_set.all %}
                                                        <i class="fas fa-heart"></i>
                                                    {% else %}
                                                        <i class="far fa-heart"></i>
                                                    {% endif %}
                                                </a>
                                            </div>  
                                        {% else %}
                                            <img src ="{{post.mediafile.url}}" alt="image">
                                            <div class="hover-content">
                                                <a href="{% url 'posts:show' post.id %}" class="whyrano-video" style="left:30%;">+</a>
                                                <a href="{% url 'posts:post_like' post.id %}" class="like_toggle" data-post-id={{ post.id }} style="color:white; left:70%; font-size: 25px;">
                                                    {% if user in post.like_user_set.all %}
                                                        <i class="fas fa-heart"></i>
                                                    {% else %}
                                                        <i class="far fa-heart"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endif %}

                                        <p style="padding-top: 20px; word-break: break-all;">{{ post.title }}</p>
                                        
                                        {% if user == post.user %}
                                            <span id="count-{{ post.id }}">좋아요 {{ post.like_count }}개</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                
                {% else %}
                <div class="col-12 text-center">
                            <h3 class="wow fadeInUp" data-wow-delay="100ms" contact-title mb-30>로그인 후 이용이 가능합니다.</h3>
                        </div>

                        <div class="col-12 text-center">
                            <div class="col-12 wow fadeInUp" data-wow-delay="800ms">
                                <a href="{% url 'account_login' %}" class="btn alime-btn btn-2 mt-15">로그인</a>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Content Area End -->

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
    $(function() {
        $('.like_toggle').click(function(e){
            e.preventDefault();
            const likeButton = $(this);
            const postId = likeButton.data('post-id');
            const heartIcon = likeButton.find('i')
            $.ajax({
                url: `/gallery/${postId}/post_like/`,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                type: "POST",
                success: function(response) {
                    likeButton.html(response.heart_icon);
                    $(`#count-${postId}`).html('좋아요 '+response.like_count+'개');
                },

                error: function(response) {
                    alert('오류가 발생했습니다.');
                }
            });
        });
    });
</script>
{% endblock %}
