<!-- Follow Area Start -->
    <section class="follow-area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Follow DGU Lion</h2>
                        <p>@likelion_dongguk</p>
                        <a href="https://www.instagram.com/likelion_dongguk/?hl=ko">
                            <i class="fab fa-instagram-square" aria-hidden="true"></i>
                        </a>
                        <a href="https://ko-kr.facebook.com/DGUlion/">
                            <i class="ti-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://pf.kakao.com/_jxbIxfd">
                            <i class="fas fa-comment"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Follow Area End -->
<!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content d-flex align-items-center justify-content-between">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <a href="#" class=" pull-right">이용약관 </a>
                        <a href="#" class=" pull-right"> 개인정보처리방침</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Area End -->