{% load static %}

<!-- Nav Start -->
<div class="classynav">
    <ul id="nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="#">Pages</a>
            <ul class="dropdown">
                <li><a href="./">- Home</a></li>
                <li><a href="{% url 'about' %}">- About</a></li>
                <li><a href="{% url 'posts:gallery' %}">- Gallery</a></li>
                <li><a href="{% url 'users:mypage' %}">- My page</a></li>
                <li><a href="./single-blog.html">- Blog Details</a></li>
                <li><a href="./contact.html">- Contact</a></li>
                <li><a href="#">- Dropdown</a>
                    <ul class="dropdown">
                        <li><a href="#">- Dropdown Item</a></li>
                        <li><a href="#">- Dropdown Item</a></li>
                        <li><a href="#">- Dropdown Item</a></li>
                        <li><a href="#">- Dropdown Item</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{% url 'about' %}">About</a></li>
       <li><a href="{% url 'posts:gallery' %}" id="gallery">Gallery</a></li>
        <li><a href="{% url 'users:mypage' %}">My page</a></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>

    <!-- Search Icon -->
    <div class="search-icon" data-toggle="modal" data-target="#searchModal"><i class="ti-search"></i></div>
</div>
<!-- Nav End -->

<script src="{% static 'js/triggerclick.js' %}"></script>    
