<!-- Nav Start -->
<div class="classynav">
    <ul id="nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'posts:gallery' %}" id="gallery">Gallery</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:mypage' %}">My page</a>
                <ul class="dropdown">
                    <li><a href="{% url 'users:mypage' %}">- 내 프로필</a></li>
                    <li><a href="{% url 'users:like_list' %}">- 좋아요 누른 글</a></li>
                    <li><a href="{% url 'users:postlist'%}">- 내가 쓴 글</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% url 'users:mypage' %}">My page</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            <li><a href="{% url 'account_signup'%}">Signup</a></li>
        {% endif %}
    </ul>

</div>
<!-- Nav End -->
