{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/38.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Password Reset</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Password Reset</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<div id="allauth">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "비밀번호를 잊어버리셨나요? <br>아래에 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="submit">
            <button type="submit" id="submit">{% trans 'Reset My Password' %}</button>
        </div>
    </form>

    <p style="padding-top: 30px; color: #fc6060">{% blocktrans %}↓비밀번호 초기화에 문제가 있으시면 저희에게 연락주세요.↓{% endblocktrans %}</p>
    <a href="https://pf.kakao.com/_jxbIxfd">
        <i class="fas fa-comment">  카카오톡 채널 <동국대-멋쟁이 사자처럼></i>
</div>
{% endblock %}