{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/38.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Signup</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Signup</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<div id="allauth">
    <p>{% blocktrans %}이미 계정이 있으신가요? 바로
    <a href="{{ login_url }}" style="color:#fc6060; font-weight: bolder;">로그인</a>하세요.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <p style="color: red; font-weight: bolder;">※ 이메일은 학생인증을 위해 학교 웹메일로 작성해주세요. ※</p>
        <p style="color: black; font-weight: bolder;">회원가입 시 해당 사이트의 <a href="{% url 'service_terms' %}">서비스 이용약관</a> 및 <a href="{% url 'personal_data' %}">개인정보처리방침</a>을 확인하였으며, 동의합니다.</p>
            <div class="col-12" data-wow-delay="800ms">
                <button type="submit" class="btn alime-btn btn-2 mt-15">{% trans 'Sign Up' %}</button>
            </div>
    </form>
    <p style="padding-top: 30px; color: #fc6060">{% blocktrans %}↓회원가입에 문제가 있으시면 저희에게 연락주세요.↓{% endblocktrans %}</p>
    <a href="https://pf.kakao.com/_jxbIxfd">
        <i class="fas fa-comment">  카카오톡 채널 <멋쟁이사자처럼 at 동국대학교></i>
    </a>
</div>

<script src="{% static 'js/email-verification.js' %}"></script>

{% endblock %}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}

