{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- hover 버튼 위치 -->
<link rel="stylesheet" href="{% static 'css/style4.css' %}">
<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Gallery</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
</section>
<!-- Breadcrumb Area End -->

<!-- Gallery Area Start -->
<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Category Menu -->
                <div class="alime-projects-menu wow fadeInUp" data-wow-delay="100ms">
                    <div class="portfolio-menu text-center">
                        <button class="btn" data-filter="*" id="all">All</button>
                        <button class="btn" data-filter=".pub">주점</button>
                        <button class="btn" data-filter=".booth">부스</button>
                        <button class="btn" data-filter=".performance">공연</button>
                        <button class="btn" data-filter=".etc">기타</button>
                    </div>
                    <div class="alime-contact-form mt-20">
                        <div id="select_box" class="col-12 text-left wow fadeInUp form-group" data-wow-delay="800ms">
                            <select id="sort-select" onchange="location = this.value;" class="form-control mt-15" style="color:black";>
                                {% if "/?sort=random" in request.get_full_path %}
                                    <option class="sort-new" value="?sort=new" >최신순</option>
                                    <option class="sort-random" value="?sort=random" selected>랜덤순</option>
                                {% else %}
                                    <option class="sort-new" value="?sort=new" selected>최신순</option>
                                    <option class="sort-random" value="?sort=random" >랜덤순</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-12 text-left wow fadeInUp" data-wow-delay="800ms">
                            <a href="{% url 'posts:new' %}" class="btn alime-btn btn-2 mt-15">Upload</a>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row alime-portfolio">
            <!-- Single Gallery Item -->
            {% for post in posts %}
                {% if post.category == "pub" %}
                    {% include 'shared/gallery_item.html' with category_value="pub" %}
                {% elif post.category == "booth" %}
                    {% include 'shared/gallery_item.html' with category_value="booth" %}
                {% elif post.category == "performance" %}
                    {% include 'shared/gallery_item.html' with category_value="performance" %}
                {% elif post.category == "etc" %}
                    {% include 'shared/gallery_item.html' with category_value="etc" %}
                {% else %}
                    {% include 'shared/gallery_item.html' with category_value="" %}
                {% endif %}   
            {% endfor %}
        </div>
    </div>
</div>
<!-- Gallery Area End -->

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>
    $(function() {
        $('.like_toggle').click(function(e){
            e.preventDefault();
            const likeButton = $(this);
            const postId = likeButton.data('post-id');
            const heartIcon = likeButton.find('i')
            $.ajax({
                url: `/gallery/${postId}/post_like/`,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                type: "POST",
                success: function(response) {
                    likeButton.html(response.heart_icon);
                    $(`#count-${postId}`).html('좋아요 '+response.like_count+'개');
                },

                error: function(response) {
                    var message = response.responseText;
                    if (message == 'timeout') alert('원활한 투표 집계를 위해 잠시 좋아요 기능이 중단됩니다. 양해 부탁드립니다.');
                    else alert('오류가 발생했습니다.');
                }
            });
        });
    });
</script>
{% endblock %}
