{% extends 'base.html' %}

{% block content %}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">My page</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="#"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!--contentarea start-->
<div class="contact-area section-padding-80-50">
    <div class="container">
        {% if user.is_authenticated %}
            <div class="col-12 text-center"><h1>좋아요 누른 글</h1></div>
            <div class="row alime-portfolio">
                {% for like in likes %}
                    <div class="col-12 col-sm-6 col-lg-3 single_gallery_item mb-30 wow fadeInUp" data-wow-delay="100ms" style="display: flex; flex-direction: column-reverse;">
                        <div class="card">
                            <div class="single-portfolio-content">
                                {% if "video" in like.post.mediatype %}
                                    <div id="video-{{like.post.id}}" style="display: block !important;">
                                        <video class="col-12" controls >
                                            <source src="{{like.post.mediafile.url}}" alt="video">
                                        </video>
                                     </div>
                                    <div class="hover-content">
                                        <a href="#video-{{like.post.id}}" class="video-play-btn">+</a>
                                    </div>  
                                {% else %}
                                    <img src ="{{like.post.mediafile.url}}" alt="">
                                    <div class="hover-content">
                                        <a href="{{like.post.mediafile.url}}" class="portfolio-img">+</a>
                                    </div>
                                {% endif %}
                            
                                <p style="padding-top: 20px; word-break: break-all;">{{like.post.title}}</p>

                                {% if user == like.post.user %}
                                    <span id="count-{{like.post.id}}">좋아요 {{ like.post.like_count }}개</span>
                                {% endif %}
                            </div>
                                <a href="{% url 'posts:post_like' like.post.id %}">
                                    {% if user in like.post.like_user_set.all %}
                                        <a href="#" class="like_toggle" data-post-id={{like.post.id}}>
                                            <i class="fas fa-heart"></i>
                                        </a>
                                    {% else %}
                                        <a href="#" class="like_toggle" data-post-id={{like.post.id}}>
                                            <i class="far fa-heart"></i>
                                        </a>
                                    {% endif %}
                                </a>  
                        </div>
                    </div>
                {% endfor %}
            </div>
                
        {% else %}
           <div class="col-12 text-center">
                    <h3 class="wow fadeInUp" data-wow-delay="100ms" contact-title mb-30>로그인 후 이용 가능합니다</h3>
                </div>

                <div class="col-12 text-center">
                    <div class="col-12 wow fadeInUp" data-wow-delay="800ms">
                        <a href="{% url 'account_login' %}" class="btn alime-btn btn-2 mt-15">로그인</a>
                    </div>
                </div>
        {% endif %}
    </div>
</div>

{% endblock %}
<!--content area end-->