{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Blog Details Area Start -->
<div class="alime--blog-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
        </div>
    </div>
</div>
<!-- Blog Details Area End -->


<div class="comment-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                

                <!-- Leave A Reply -->
                <div class="alime-contact-form mt-20">
                    <h4 class="mb-30">사진/영상 업로드</h4>

                    <!-- Form -->
                    <form action="{% url 'posts:create' %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="form-group form-control">
                                <label>카테고리</label>
                                <select name="category" id="category">
                                    <option value="pub">주점</option>
                                    <option value="booth">부스</option>
                                    <option value="performance">공연</option>
                                    <option value="etc">기타</option>
                                </select>
                            </div>
                    
                        </div>
                            <div class="col-12">
                                <input type="text" class="form-control mb-30" name="title" placeholder="제목 입력" required style="color:black;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control mb-30" name="content" placeholder="내용 입력" style="color:black;"></textarea>
                            </div>
                            <div class="col-12">
                                <label for="input-mediafile" class="btn btn-outline" style="border: 1px solid #80808042;">파일 선택</label>
                                <input type="file" id="input-mediafile" style="display: none;" name="mediafile" onchange="limitSize(this)" accept="image/*, video/*" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alime-btn btn-2 mt-15">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Comment Area End -->

{% endblock %}