{% extends 'dgufest/base.html' %}
{% load static %}
{% block content %}

<!-- Blog Details Area Start -->
<div class="alime--blog-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
        </div>
    </div>
</div>
<!-- Blog Details Area End -->


<div class="comment-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                

                <!-- Leave A Reply -->
                <div class="alime-contact-form mt-20">
                    <h4 class="mb-30">글 수정</h4>

                    <!-- Form -->
                    <form action="{% url 'posts:update' post.pk %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="form-group">
                                <label>카테고리</label>
                                <select name="category" id="category">
                                    <option value="pub" >주점</option>
                                    <option value="booth">부스</option>
                                    <option value="performance">공연</option>
                                    <option value="etc">기타</option>
                                </select>
                            </div>
                        </div>
                            <div class="col-12">
                                <input type="text" class="form-control mb-30" name="title" placeholder="제목 입력" value="{{ post.title }}" required>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control mb-30" name="content" placeholder="내용 입력">{{ post.content }}</textarea>
                            </div>
                            <div class="col-12">
                                <input type="file" name="mediafile" onchange="limitSize(this)" accept="image/*, video/*" required>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn alime-btn btn-2 mt-15">Update</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Comment Area End -->

{% endblock %}